<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 网络权限：天气 API + Supabase 需要 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 拍照与相册（录入衣物照片） -->
    <!-- 注意：这里**不要**声明 android.permission.CAMERA。
         image_picker 走 ACTION_IMAGE_CAPTURE Intent 调系统相机 App，
         权限由系统相机 App 自己持有并负责申请，调用方不需要 CAMERA 权限。
         反之，manifest 一旦声明 CAMERA，image_picker 会要求该权限已授予，
         而本项目没有（也无法）做运行时申请，takePhoto() 会直接抛
         camera_access_denied，导致拍照录入完全不可用。 -->
    <!-- Android 13+ 读取媒体图片 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- Android 12 及以下的相册读取（最高只到 32，新系统自动忽略） -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <!-- 定位（获取当地天气，可选能力） -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 相机为可选硬件，避免无相机设备被商店过滤 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:label="穿啥"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">
        <!-- allowBackup=false：Supabase 会话 token 存在 shared_preferences，
             若允许备份，adb backup / 云备份可把 token 导出到设备外。 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
